<div class="jumbotron">
    <h1>EventWarez</h1>
    <p>A lightweight opensource solution for event and staffing managers.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><a href="https://localhost:44341/swagger">SwaggerUI</a></h2>
        <p>Access the Swagger UI for current Application Interface.</p>
        
    </div>
    
<div class="row">
    <div class="col-md-12">
        <h2>First steps</h2>
        <p>This application utilizes OAuth2 security protocols, so will need to first <a href="https://localhost:44341/swagger/ui/index#!/Account/Account_Register">Register</a> a new User Account.  Replace the three "string" parameters with your desired User Details, and click Try it Out.</p>
    </div>

</div>
